
@media (min-width: 768px) {
  .contenedor-anuncios {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5rem;
  }
}

.anuncio {
  background-color: #eaeaeab7;
  margin: 5rem auto;
}

h2 {
  font-size: 4rem;
  color: black;
  padding-top: 10rem;
}

p {
  font-size: 1.6rem;
  text-align: justify;
  margin-bottom: 4rem;
}

h3 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.contenido-anuncio {
  padding: 0 2rem;
  margin: 0 auto 3rem auto;
}

.boton-amarillo-block {
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: 1.6rem;
  background-color: rgb(243, 188, 59);
  border-radius: 10px;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
}

.boton-amarillo-block:hover {
  font-weight: 700;
}