<div class="contenidor">
    <h2>PROFESSIONALS</h2>
    <div class="contenedor-anuncios">
        <div class="anuncio">
            <picture>
                <img loading="lazy" src="../../assets/img/professionals/doctora1.jpg" alt="Doctora1">
            </picture>

            <div class="contenido-anuncio">
                <h3>Nom Doctora 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique blandit leo eget tincidunt. Phasellus vel augue sed lorem dignissim interdum in et risus.</p>
            
                <a href="anuncio.html" class="boton-amarillo-block">
                    Més informació
                </a>
            </div>
        </div>

        <div class="anuncio">
            <picture>
                <img loading="lazy" src="../../assets/img/professionals/doctora2.jpg" alt="Doctora2">
            </picture>

            <div class="contenido-anuncio">
                <h3>Nom Doctora 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique blandit leo eget tincidunt. Phasellus vel augue sed lorem dignissim interdum in et risus.</p>
            
                <a href="anuncio.html" class="boton-amarillo-block">
                    Més informació
                </a>
            </div>
        </div>

        <div class="anuncio">
            <picture>
                <img loading="lazy" src="../../assets/img/professionals/doctor3.jpg" alt="Doctor3">
            </picture>

            <div class="contenido-anuncio">
                <h3>Nom Doctor 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique blandit leo eget tincidunt. Phasellus vel augue sed lorem dignissim interdum in et risus.</p>
            
                <a href="anuncio.html" class="boton-amarillo-block">
                    Més informació
                </a>
            </div>
        </div>

        <div class="anuncio">
            <picture>
                <img loading="lazy" src="../../assets/img/professionals/doctor4.jpg" alt="Doctor4">
            </picture>

            <div class="contenido-anuncio">
                <h3>Nom Doctora 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique blandit leo eget tincidunt. Phasellus vel augue sed lorem dignissim interdum in et risus.</p>
            
                <a href="anuncio.html" class="boton-amarillo-block">
                    Més informació
                </a>
            </div>

    </div>
</div>