/* SERVEIS */

h2 {
  font-size: 4rem;
  text-align: center;
  color: black;
  padding-top: 10rem;
}

.fons-serveis {
  background-color: none;
  background-size: cover;
  
  background-image: url("../../assets/img/background-image2.jpg");
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .fons-serveis {
      margin-bottom: 0;
      padding-bottom: 10rem;
  }
}


@media (min-width: 768px) {
  .contenidor-serveis {
      width: 60%;
      margin: auto;
  }
}

.color-lila {
  color: #4a79bb;
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
}

@media (min-width: 768px) {
  .color-lila {
      font-size: 4rem;
      line-height: 1.3;
  }
}

.color-blanc {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  line-height: 1.3;
}

.boto-servei {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem 2rem 1.5rem;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .boto-servei {
      padding: 0;
      text-align: center;
  }
}

.boto-servei a {
  text-decoration: none;
}

.contenidor-serveis {
  font-family: 'PT Sans', sans-serif;
}

@media (min-width: 768px) {
  .contenidor-serveis {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0;
  }
}
