<section class="fons-serveis" id="servicios">
    <div class="contenidor">
        <h2>SERVEIS</h2>
        <div class="contenidor-serveis">
            <div class="boto-servei">
                <a href="recordatoris" class="boto boto-blanc">Recordatoris</a>
            </div>

            <div class="boto-servei ">
                <a href="cites" class="boto boto-blanc">Cita prèvia</a>
            </div>

            <div class="boto-servei">
                <a href="map" class="boto boto-blanc">Mapa</a>
            </div>

            <div class="boto-servei">
                <a href="professionals" class="boto boto-blanc">Professionals</a>
            </div>

        </div>
    </div>
</section>