
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<section class="section-50">
    <div class="container">
    <h2>RECORDATORIS</h2>
    <div class="notification-ui_dd-content">
        <div class="notification-list notification-list--unread">
            <div class="notification-list_content">

                <div class="notification-list_img">
                    <img src="../../assets/img/pastilla1.png" alt="user">
                </div>

                <div class="notification-list_detail">
                    <p><b>Vitracetam</b>
                    <p class="text-muted">1 dosi (200 mg)</p>
                    <p class="text-muted"><small><b class="red">08:00h</b></small></p>
                </div>
            </div>
        </div>

        <div class="notification-list notification-list--unread">
            <div class="notification-list_content">

                <div class="notification-list_img">
                    <img src="../../assets/img/pastilla2.png" alt="user">
                </div>

                <div class="notification-list_detail">
                    <p><b>Acribucil</b></p>
                    <p class="text-muted">2 dosis (400 mg)</p>
                    <p class="text-muted"><small><b class="red">10:30h</b></small></p>
                </div>
            </div>
            
        </div>
        <div class="notification-list">
            <div class="notification-list_content">
                
                <div class="notification-list_img">
                    <img src="../../assets/img/pastilla3.png" alt="user">
                </div>

                <div class="notification-list_detail">
                    <p><b>Albendafenide</b></p>
                    <p class="text-muted">1 dosi (175 mg)</p>
                    <p class="text-muted"><small><b class="red">12:00h</b></small></p>
                </div>
            </div>
            
        </div>
        <div class="notification-list">
            <div class="notification-list_content">
                
                <div class="notification-list_img">
                    <img src="../../assets/img/pastilla1.png" alt="user">
                </div>

                <div class="notification-list_detail">
                    <p><b>Pentaxone</b></p>
                    <p class="text-muted">3 dosis (400 mg)</p>
                    <p class="text-muted"><small><b class="red">14:00h</b></small></p>
                </div>
            </div>
            
        </div>
        <div class="notification-list">
            <div class="notification-list_content">

                <div class="notification-list_img">
                    <img src="../../assets/img/pastilla2.png" alt="user">
                </div>
              
                <div class="notification-list_detail">
                    <p><b>Mycotate Benzodase</b></p>
                    <p class="text-muted">1 dosi (100 mg)</p>
                    <p class="text-muted"><small><b class="red">20:00h</b></small></p>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
