<body>
    <div class = "contenidor margin ">
    <h2>CITA PRÈVIA</h2>
    <div class = "grid">
        <div>
            <label for="start">Selecciona el centre:</label>

            <select>
                <option>Centre Mèdic Teknon</option>
                <option>Centre Mèdic Hostafrancs</option>
                <option>Centre Mèdic Catalonia</option>
            </select>

                <label for="start"><br> Selecciona el professional:</label>

                <div class="class">
                <select>
                    <option>Dra. Figueres</option>
                    <option>Dr. Hidalgo</option>
                    <option>Dra. Lozano</option>
                </select>
                </div>
            <label for="start"><br> Selecciona el dia:</label>

            <input type="date" id="start" name="trip-start"
            value="2022-05-01"
            min="2022-05-01" max="2099-12-31">


            <label for="appt"><br> Selecciona l'hora:</label>

            <input type="time" id="appt" name="appt"
                min="09:00" max="18:00" required>

            <small>L'horari d'atenció és de les 9:00h a les 20:30h.</small>
            <br>
        
            <form onsubmit="swal('Procés completat, gràcies per la seva reserva.');return false">
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="img">
            <img src="../../assets/img/imatge-cita-previa.jpg" alt="Imatge Cor">
        </div>
    </div>
</div>
</body>