label {
    display: block;
}

input,
label {
    margin: .4rem 0;
}

.margin{
    padding: 5rem 0;
}

.caja {
    margin:20px auto 40px auto;	
    border:1px solid #ffffff;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
 }
 select {
    background: transparent;
    border: withe;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
 }
 select:focus{ outline: none;}
 
 .caja::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#ffffff;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }