<header class="site-header">
    <div>
        <mat-toolbar color="primary">
            <mat-toolbar-row class="contenidor">
                
                <a routerLink="inicio">
                    <img src="../../assets/img/logo.png" alt="Logotipo" width="80%" height="80%">
                </a>
                <span class="example-spacer"></span>
                <div fxShow="true" fxHide.lt-md="true">
                </div>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-sidenav-container fxFlexFill>
            <mat-sidenav #drawer class="altura">
                <mat-nav-list>
                    <nav class="navegacio-mobile ">
                        <a routerLink="home" mat-list-item>HOME</a>
                    </nav>


                </mat-nav-list>

            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>

        </mat-sidenav-container>
    </div>
</header>