/* FOOTER */

.imatge {
    display: block;
}

.imatge a {
    display: flex;
    justify-content: center;
    align-items: center;
}

a img {
    max-width: 20rem;
    /* Mida del logo */
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    img {
        align-items: center;
        margin: 0;
    }
}

.site-footer {
    background-color: #4a79bb;
    margin: 0;
}

.contenidor-footer {
    padding: 3rem 0 0 0;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.7rem;
}

@media (min-width: 768px) {
    .contenidor-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
    }
}

.icona {
    list-style: none;
    /* Per treure el punt de les llistes*/
    padding: 0;
    display: block;
}

.icona a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Per centrar verticalment*/
    text-decoration: none;
    color: white;
}

.icona li {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* Per centrar verticalment*/
    margin: 0;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .icona li {
        justify-content: flex-start;
    }
}

.icona li img {
    margin-right: 1rem;
    /* 2rem = 20px */
    max-width: 3rem;
    max-height: 3rem;
}

.lletra {
    color: #ffffff;
    margin: 0 1rem 0 0;
    text-align: center;
}

.avisos {
    padding: 1rem 0;
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: rgb(250, 250, 250);
}

@media (min-width: 768px) {
    .avisos {
        align-items: center;
        font-size: 1.7rem;
    }
}

.links a {
    color: rgb(202, 202, 202);
    text-decoration: none;
    margin-right: 2rem;
    justify-content: center;
}

.links a:last-of-type {
    margin-right: 0;
}

@media (min-width: 768px) {
    .links a {
        margin-right: 5rem;
    }
    .links {
        text-align: left;
    }
}

@media (max-width: 412px) {
    .links a {
        display: flex;
        justify-content: center;
    }
}

.links {
    margin: 0 1rem 1rem 1rem;
}