<footer class="site-footer">
    <div class="contenidor contenidor-footer">

        <div class="imatge">
            <a routerLink="inicio">
                <img src="../../assets/img/logo.png" alt="Logotip d'Alfons Yebra">
            </a>
        </div>
        <ul class="icona">

            <li>
                <img src="../../assets/img/linkedin-logo.png" alt="Icona Linkedin" >
                <p class="lletra">Created by</p>
                <a href="https://www.linkedin.com/in/gemma-yebra-berenguer-534a92237/">Gemma Yebra</a>
            </li>
            
            <li class="icona">
                <img src="../../assets/img/linkedin-logo.png" alt="Icona Linkedin">
                <p class="lletra">Created by</p>
                <a href="https://www.linkedin.com/in/carla-rodriguez-rubio/">Carla Rodriguez</a>
            </li>

        </ul>

    </div>

    <div class="contenidor avisos">
        <p>Copyright 2022 e-salut</p>
    </div>

</footer>